<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353285314712-hs57na24k2qmkepng23cil553caomvt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353285314712-hs57na24k2qmkepng23cil553caomvt6</string>
	<key>API_KEY</key>
	<string>AIzaSyBCXCdci6dKnaJbOKCFq1m9B7JpogIfpBk</string>
	<key>GCM_SENDER_ID</key>
	<string>353285314712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hiringApp</string>
	<key>PROJECT_ID</key>
	<string>hiring-app-c3ce0</string>
	<key>STORAGE_BUCKET</key>
	<string>hiring-app-c3ce0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353285314712:ios:ba3b6be32b0573ca5718ed</string>
</dict>
</plist>